@import "tailwindcss";

.glass {
  @apply relative backdrop-blur-sm overflow-hidden border-t-[1px] border-l-[1px] border-white/40
      transition-all;
}

.glass::after {
  @apply absolute content-['']
    bottom-[-2px] right-[-2px]
    h-[calc(100%+4px)] w-[calc(100%+4px)]
    border-2 border-white/40 to-transparent
    rounded-sm blur-[2px] -z-10;
}

.glass::before {
  @apply absolute content-['']
    bottom-0 right-0
    h-full w-full
    border-b-2 border-r-2 border-black/40
    rounded-md blur-[1px] -z-20;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}